* {
  margin: 0px;
  box-sizing: border-box;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px;
}

.content-div {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: rgb(9, 7, 7, 0.6);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  width: 400px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  margin: 15px;
  list-style: none;
}

.hero-div {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

p {
  width: 700px;
  font-size: 1.3rem;
}

h1 {
  font-size: 5rem;
  margin-bottom: 30px;
}

.logo-adore {
  position: absolute;
  top: 10px;
}
.meals-div {
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  padding: 10px;
}

.cell {
  background-position: center;
  border-radius: 10px;
}
