
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 62%;
  text-align: center;
  padding: 150px;
 
}

.home-heading {
  font-size: 6rem;
  margin-bottom: 20px;
  font-family: "Lobster", cursive;
}

.home-par {
  font-size: 1.3rem;
}

.meals-div {
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 50px;
  padding: 10px;
}

.cell {
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
