* {
  margin: 0px;
  box-sizing: border-box;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px;
  background-color: rgb(25, 25, 25);
  background-repeat: no-repeat;
  background-size: cover;
}

.content-div {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  background-color: rgb(9, 7, 7, 0.6);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  width: 400px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  margin: 15px;
  list-style: none;
}

.hero-div {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 200px;
}

p {
  width: 700px;
  font-size: 1.3rem;
}

h1 {
  font-size: 5rem;
  margin-bottom: 30px;
}

.logo-adore {
  position: absolute;
  top: 10px;
}

.menu-div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
}

.cell {
  height: 400px;
  display: flex;
  line-height: 30px;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  flex-direction: column;
}

.menu-heading {
  font-size: 2rem;
}
