
.meal-div {
  display: flex;
  gap: 30px;
  height: 300px;
  margin-bottom: 30px;
}

.meal-img {
  flex: 1;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

.description-div {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

.description-par {
  font-size: 1.3rem;
}
